@import "./../../global.scss";

.header-container {
  background-color: var(--c-scale-12);
  height: 13%;
}

.header {
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  padding-top: tbu(px(35));
}

.card-tasks {
  @extend .align-center;
  width: 100%;
  height: tbu(px(60));
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  background-color: var(--c-scale-12);
  margin-bottom: tbu(px(12));
  border-radius: tbu(px(12));
}

.box-task {
  display: flex;
  width: 100%;
  margin-bottom: tbu(px(24));
}

.left-icon {
  width: 10%;
  @extend .align-center;
}

.container {
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
  margin-top: tbu(px(27));
}

.icon-name-user {
  @extend .align-center;
  height: tbu(px(35));
  border-radius: 90%;
  width: 11%;
  background-color: var(--c-scale-12);
}

.description-task {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: tbu(px(15));
}

.description-task1 {
  display: flex;
  flex-direction: column;
  width: 79%;
  padding-left: tbu(px(15));
}

#icon-user {
  margin-left: 20%;
}

.icon-name-user1 {
  @extend .flex-center;
  height: tbu(px(35));
  border-radius: 90%;
  width: 11%;
  background-color: var(--c-scale-3);
}

.icon-name-user {
  @extend .align-center;
  height: tbu(px(35));
  border-radius: 90%;
  width: 11%;
  background-color: var(--c-scale-1);
}

.body-content {
  height: 70%;
}

.arrow-info {
  @extend .align-center;
  width: 11%;
}

.arrow-info1 {
  @extend .flex-center;
  height: 35px;
  border-radius: 90%;
  width: 11%;
  background-color: var(--c-scale-1);
  border: tbu(px(1)) solid;
}

.phone-icon {
  @extend .flex-center;
  height: tbu(px(35));
  border-radius: 90%;
  width: 11%;
  background-color: var(--primary);
}

.footer-client {
  height: 17%;
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
}

.button-cancel {
  @extend .flex-center;
  text-decoration: underline;
  text-decoration-color: var(--error);
  margin-bottom: tbu(px(24));
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-options {
  @extend .flex-center;
  flex-direction: row;
  height: tbu(px(48));
  width: 48%;
  background-color: var(--c-scale-12);
  border-radius: tbu(px(4));
  gap: tbu(px(5));
}

.button-done {
  display: flex;
  height: tbu(px(48));
  width: 48%;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  border-radius: tbu(px(4));
  gap: tbu(px(5));
}

nc-action-sheet {
  ::ng-deep {
    .action-sheet.animation {
      height: 65%;
    }
  }
}

.type-actions {
  display: flex;
  flex-direction: column;
  margin-top: tbu(px(10));
}

.option {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  width: 100%;
}

.icon-app {
  width: 12%;
}
.icon-app:hover {
  background-color: var(--primary);
  color: var(--c-scale-1);
}

.title-price {
  @extend .align-center;
  width: 85%;
  padding-left: tbu(px(10));
}

.right-icon {
  display: flex;
  width: 5%;
}

.notes {
  height: 100%;
}

.right-icon-notes {
  display: flex;
  justify-content: flex-end;
  width: 11%;
}

.header-notes {
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  padding-top: tbu(px(35));
  height: 85%;
}

.body-container {
  height: 15%;
}

.input-search {
  margin-top: tbu(px(24));
}

.footer {
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
}

.button-footer {
  height: tbu(px(48));
  width: 100%;
  background-color: var(--c-scale-12);
  @extend .flex-center;
}
