<ion-content>
  <div class="container">
    <div class="body-recover">
    <div class="header-main">
      <div class="header-recover">
        <div class="text-title-recover">
          <nc-text size="h6" color="c-scale-12" weight="500" font="primary"
            >Forget your password</nc-text
          >
          <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
            >Insert your email account for reseat your password</nc-text
          >
        </div>
        <div class="icon-close">
          <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"  (click)="close()"
            >icon_close</nc-icon
          >
        </div>
        <!-- <ion-label class="label-forgot">Forget your password?</ion-label>
        <ion-icon name="close" class="icon-close" (click)="close()"></ion-icon> -->
      </div>
      <!-- <div class="info-email">
        <ion-text>Insert your email account for reseat your password</ion-text>
      </div> -->
    </div>

    <div class="input-recover">
      <form [formGroup]="form" (ngSubmit)="signInClick()" class="login-form">
        <div class="inputs">
          <nc-form-field
            name="email"
            class="login--body__username"
            label="Email"
            src=""
            large
            hoverColor="c-scale-12"
            [className]="{ success: (email.valid && email.touched)  , error: email.value && email.dirty && email.touched && !email.valid }"
          >
            <input
              [attr.tester]="'input-email'"
              required
              autocomplete="false"
              name="identification"
              type="email"
              placeholder="from niup.me account"
              formControlName="email"
              id="inputEmail"
            />
          </nc-form-field>
        </div>
      </form>
    </div>
  </div>
    <div class="button-recover">
      <nc-button
            [attr.tester]="'click-button-signIn'"
            (keyup.enter)="signInClick()"
            [color]="'primary'"
            type="submite"
            [reverse]="true"
            large
            [disabled]="(form.invalid)"
          >
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >Send</nc-text
            >
          </nc-button>
    </div>
  </div>
</ion-content>
