.container{
  padding: 10px;
}


.header-recover{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-email{
  width: 60%;
}


.label-forgot {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

  .icon-close {
    display: flex;
    align-items: flex-end;
  }





.box {
  border: 1px solid var(--color_scale_5);
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #dedede;
  border-radius: 4px;
  opacity: 1;


}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.but1 {
  display: flex;
  align-items: center;
  justify-content: center;

  .but11 {
    width: 328px;
    height: 39px;
    width: 220px;
    background: #232323 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }
}
