
  <div class="container">
    <div class="body-recover">
      <div class="header-main">
        <div class="header-recover">
          <div class="left-icon">
            <nc-icon
              [size]="18"
              color="c-scale-12"
              hoverColor="c-scale-12"
              >icon_help_round</nc-icon
            >
          </div>
          <div class="text-title-recover">
            <nc-text size="h6" color="c-scale-12" weight="bold" font="primary"
              >{{'App.RecoverPassword.titleRecover' | translate}}</nc-text
            >
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{'App.RecoverPassword.descriptionRecover' | translate}}</nc-text
            >
          </div>
          <div class="icon-close">
            <nc-icon
              [size]="18"
              color="c-scale-12"
              hoverColor="c-scale-12"
              (click)="close()"
              >icon_close</nc-icon
            >
          </div>

        </div>
      </div>

      <div class="input-recover">
        <form [formGroup]="form" (ngSubmit)="signInClick()" class="login-form">
          <div class="inputs">
            <nc-form-field
              name="email"
              class="login--body__username"
              label="Email"
              src=""
              large
              hoverColor="c-scale-12"
              [className]="{ success: (email.valid && email.touched)  , error: email.value && email.dirty && email.touched && !email.valid }"
            >
              <input
                [attr.tester]="'input-email'"
                required
                autocomplete="false"
                name="identification"
                type="email"
                formControlName="email"
                id="inputEmail"
              />
            </nc-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="button-recover">
      <nc-button
        [attr.tester]="'click-button-signIn'"
        (keyup.enter)="signInClick()"
        [color]="'primary'"
        type="submite"
        [reverse]="true"
        large
        [disabled]="(form.invalid)"
      >
        <nc-text
          size="h7"
          hoverColor="c-scale-1"
          color="c-scale-1"
          weight="500"
          font="primary"
          >{{'App.RecoverPassword.send' | translate}}</nc-text
        >
      </nc-button>
    </div>
  </div>

