@import "./../../global.scss";

.container {
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
  margin-top: tbu(px(50));
  height: 90%;
}

.body-recover {
  height: 80%;
}

.header-recover {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-icon {
  width: 10%;
}

.text-title-recover {
  width: 75%;
}

.icon-close {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.input-recover {
  margin-top: 5%;
}

.inputs {
  nc-form-field {
    ::ng-deep {
      input {
        width: 100%;
        height: 48px;
        padding: 19px 79px 5px 9px;
      }
    }
  }
}

.body-recover {}

.button-recover {
  height: 30%;
  padding-top: 30%;

  ::ng-deep {
    nc-button {
      .button.medium {
        min-width: 100%;
      }
    }
  }
}
