<ion-content>
  <div class="container">
    <div class="header-main">
      <div class="header-recover">
        <ion-label class="label-forgot">Forget your password?</ion-label>
        <ion-icon name="close" class="icon-close" (click)="close()"></ion-icon>
      </div>
      <div class="info-email">
        <ion-text>Insert your email account for reseat your password</ion-text>
      </div>
    </div>
    <ion-card-content>
      <div class="box">
        <div class="row">
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Username"></ion-input>
        </div>
      </div>
    </ion-card-content>
    <div class="but1">
      <ion-button class="but11" color="green" (click)="sendMe()"
        >Send</ion-button>
    </div>
  </div>
</ion-content>
