@import "./../../global.scss";

.container{

  display: flex;
  flex-direction: row;
  margin: 24px;
  align-items: center;
  justify-content: center;

}


.container-main{
  width: 100%;
}
.left-icon {
  width: 10%;
  margin-left: 20px;
  @extend .align-center;
}


