@import "./../../global.scss";

nc-virtual-scroller {
  height: calc(100vh - #{tbu(px(365))});
}

.header-container {
  height: 10%;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: tbu(px(50)) tbu(px(24)) tbu(px(24)) tbu(px(24));
}

.card-types {
  @extend .align-center;
  width: 100%;
  height: tbu(px(60));
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  background-color: var(--c-scale-1);
  margin-bottom: tbu(px(20));
  border-radius: tbu(px(12));
}

.box-task {
  @extend .space-between;
  width: 100%;
}

.icon-name-user {
  @extend .flex-center;
  height: tbu(px(35));
  border-radius: 90%;
  background-color: red;
  width: 11%;
  background-color: var(--c-scale-3);
  margin-right: 5%;
  border: tbu(px(1)) solid var(--color_scale_10);
}

.icon-name-user:hover {
  background-color: var(--primary);
}

.description-task {
  display: flex;
  flex-direction: column;
  width: 89%;
}

.body-content {
  height: 80%;
  position: relative;
  padding: tbu(px(24)) tbu(px(24));
}

.products-image {
  @extend .flex-center;
  img {
    width: tbu(px(183));
    height: tbu(px(219));
  }
}

.login-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
  width: 100%;
}

.icon-switch {
  @extend .justify-end;
}

.final-sum {
  display: flex;
  flex-direction: column;
  margin-bottom: tbu(px(12));
}

.price-shop {
  display: flex;
  flex-direction: row;
  .shipping-price {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.discont-value {
  display: flex;
  flex-direction: row;
  .discount {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.total-product {
  display: flex;
  flex-direction: row;
  .total {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.container-footer {
  display: flex;
  width: 100%;
  height: 10%;
}

.button-footer {
  width: 100%;
  @extend .flex-center;
  height: 60%;
  background-color: var(--c-scale-12);
  border-radius: tbu(px(4));
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
}
