<ion-content>
  <div class="header-menu">
<div class="title-menu">
  <div class="order-details">
    <div class="operator-name">
      <nc-text size="h7" color="c-scale-1" weight="500" font="primary"
        >Order Nº 1927</nc-text
      >
    </div>
  </div>
  <div class="icon-close">
    <nc-icon
      [size]="18"
      color="c-scale-1"
      hoverColor="c-scale-1"
      (click)="close()"
      >icon_close</nc-icon
    >
  </div>
</div>
  </div>
  <div class="body-content">
    <div class="steps">
      <div class="steps-details">
      <div class="step-space">

      </div>
      <div class="step-info">
        <nc-text size="h7" color="c-scale-10" weight="500" font="primary">Client</nc-text>
      </div>
    </div>
    <div class="steps-details">
      <div class="step-space">

      </div>
      <div class="step-info">
        <nc-text size="h7" color="c-scale-10" weight="500" font="primary">Client</nc-text>
      </div>
    </div>
    <div class="steps-details">
      <div class="step-space">

      </div>
      <div class="step-info">
        <nc-text size="h7" color="c-scale-10" weight="500" font="primary">Client</nc-text>
      </div>
    </div>
    <div class="steps-details">
      <div class="step-space">

      </div>
      <div class="step-info">
        <nc-text size="h7" color="c-scale-10" weight="500" font="primary">Client</nc-text>
      </div>
    </div>
    </div>


  </div>
</ion-content>
