@import "./../../global.scss";

ion-content {
  padding: tbu(px(10));
}

nc-virtual-scroller {
  height: calc(100vh - #{tbu(px(385))});
}

.header-menu {
  background-color: var(--c-scale-12);
  background-size: cover;
  width: 100%;
  height: 11%;
  display: flex;
    align-items: center;
}

.title-menu {
  display: flex;
  width: 100%;
  padding-top: 5%;
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  justify-content: center;
  align-items: flex-end;
}


.order-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon-close {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.body-content {
  height: 89%;
  padding: tbu(px(24)) tbu(px(24));
}

.steps {
  display: flex;
  width: 100%;
justify-content: space-between;
}

.step-space {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 45%;

}


.step-space1 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 33%;
}
.step-space2 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 37%;

}
.buttons-client {
  display: flex;
  flex-direction: row;
  padding-top: tbu(px(16));
  padding-bottom: tbu(px(16));
  justify-content: space-between;
  width: 100%;

  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border: tbu(px(2)) solid var(--secondary_dark);
    border-radius: tbu(px(4));
    height: tbu(px(50));
  }
  .client-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border: tbu(px(1)) solid var(--secondary_dark);
    border-radius: tbu(px(4));
    height: tbu(px(50));
    background-color: var(--c-scale-12_bg);
  }
}

.client-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border: tbu(px(2)) solid var(--c-scale-10);
  border-radius: tbu(px(4));
  height: tbu(px(50));
}

.search-client {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: tbu(px(8));
}

// .inputs {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   padding-bottom: tbu(px(10))
// }

.cards-clients {
  width: 100%;
  height: tbu(px(60));
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  background-color: var(--c-scale-3);
  display: flex;
  align-items: center;
  border-radius: tbu(px(12));
  margin-top: tbu(px(15));
  &.active {
    background-color: #37b26a1a;
    border: tbu(px(1)) solid var(--primary_border);
  }
}

.icon-name-user {
  width: 20%;
}

.description-task {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-left: 4%;
}

.arrow-info {
  width: 20%;
  height: 100%;
  @extend .align-end;
  flex-direction: column;
}

.icon-name-user {
  @extend .flex-center;
  height: 35px;
  border-radius: 90%;
  background-color: red;
  width: 11%;
  background-color: var(--c-scale-3);
  margin-left: 10px;
}

nc-input {
  width: 100%;
  padding-bottom: 8px;
  ::ng-deep {
    input {
      background-color: var(--c-scale-1_bg) !important ;
      border: tbu(px(1)) solid var(--c-scale-3_border);
    }
  }
}

.buttons-footer1 {
  background-color: var(--c-scale-1_bg);
  height: 11%;
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  width: 100%;
}

.buttons-footer {
  background-color: var(--c-scale-1_bg);
  height: 11%;
  padding: tbu(px(0)) tbu(px(24));
  width: 100%;
}

.add-products {
  padding-top: tbu(px(5));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  @extend .flex-center;
  text-align: center;
  flex-direction: column;
}

.button-add-products {
  @extend .flex-center;
  width: tbu(px(146));
  height: tbu(px(46));
  border: 2px solid var(--c-scale-12);
  border-radius: tbu(px(4));
  margin-top: tbu(px(14));
}

.products-image {
  img {
    width: tbu(px(183));
    height: tbu(px(219));
  }
}

.is-on-action-Buttons {
  border: tbu(px(1)) solid var(--c-scale-1);
  color: var(--c-scale-1);
}

.erro {
  margin-bottom: tbu(px(3));
}


.step-space-1 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 45%;

  align-items: center;
    justify-content: center;
}

// .step-space-2 {
//   display: flex;
//   height: tbu(px(15));
//   background-color: var(--primary);
//   border-radius: 50%;
//   width: 45%;
//   margin-left: tbu(px(10));
// }

.step-space-3 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 38%;

}

.step-space-4 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 37%;

}

.steps-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testediv{
  width: 25%;
  background-color: var(--c-scale-6);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -21px;
  margin-left: -17px;
  margin-top: 7px;
}


.testediv1{
  width: 25%;
  background-color: var(--primary);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -21px;
  margin-left: -18px;
  margin-top: 7px;
}


.testediv11{
  width: 25%;
  background-color: var(--primary);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -13px;
  margin-left: -12px;
  margin-top: 7px;
}

.testedivv{
  width: 25%;
  background-color: var(--c-scale-6);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -13px;
  margin-left: -12px;
  margin-top: 7px;
}

.testesdiv{
  width: 25%;
  background-color: var(--c-scale-6);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -16px;
  margin-left: -12px;
  margin-top: 7px;
}

.testesdiv1{
  width: 25%;
  background-color: var(--primary);
  height: 3px;
  display: flex;
  align-items: center;
  margin-right: -16px;
  margin-left: -12px;
  margin-top: 7px;
}
