<ion-content>
  <div class="header-content">
    <div class="header">
      <div class="left-icon">
        <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
          >icon_payment</nc-icon
        >
      </div>
      <div class="main-header">
        <div class="title-header">
          <nc-text size="h6" color="c-scale-12" weight="bold" font="primary"
            >{{'App.Receipts.titleHeader' | translate}}</nc-text
          >
        </div>
        <div class="description-header">
          <nc-text size="h7" color="c-scale-12" weight="500" font="primary"
            >{{'App.Receipts.descriptionHeader' | translate}}</nc-text
          >
        </div>
      </div>
      <div class="right-icon" (click)="close()">
        <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
          >icon_cross</nc-icon
        >
      </div>
    </div>

    <div class="input-search">
      <div class="search-client">
        <nc-input
          [attr.tester]="'search-bar-current'"
          placeholder="{{'App.Receipts.value' | translate}}"
          [bgInputColor]="'c-scale-12'"
          [clear]="true"
          [type]="'text'"
          [size]="'medium'"
        >
        </nc-input>
      </div>
    </div>
    <div class="body-content">
      <div class="title-body">
        <nc-text size="h6" color="c-scale-12" weight="bold" font="primary"
          >{{'App.Receipts.titleBody' | translate}}</nc-text
        >
      </div>
      <div class="input-search">
        <div class="search-client">
          <nc-input
            [attr.tester]="'search-bar-current'"
            placeholder="{{'App.Receipts.search' | translate}}"
            [bgInputColor]="'c-scale-12'"
            [icon]="'icon_search'"
            [iconPosition]="'left'"
            [clear]="true"
            [type]="'text'"
            [size]="'medium'"
            [(value)]="searchValue"
            (valueChange)="searchDocument($event)"
          >
          </nc-input>
        </div>
      </div>
      <nc-virtual-scroller #scroll [items]="this.tasksService.allDocumentsFilter">
        <div
          class="cards-clients"
          *ngFor="let item of scroll.viewPortItems"
          (click)="selectedItemList(item)"
          [class.active]="item.iconCheck==true"
        >
          <div class="icon-name-user">
            <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
              >icon_user</nc-icon
            >
          </div>
          <div class="description-task">
            <div class="name-task">
              <nc-text size="h7" color="c-scale-12" weight="500" font="primary"
                >{{item.firstName}} {{item.lastName}}</nc-text
              >
            </div>
          </div>
          <div class="arrow-info">
            <nc-icon *ngIf="item.iconCheck === true" [size]="20"
              >icon_check</nc-icon
            >
          </div>
        </div>
      </nc-virtual-scroller>
    </div>
    <div class="buttons-footer">
      <div class="save-button" (click)="save()">
      <nc-text size="h7" color="c-scale-1" weight="500" font="primary">Guardar</nc-text>
      </div>
    </div>
  </div>
</ion-content>
