@import "./../../global.scss";

ion-content {
  padding: tbu(px(10));
}

.container {
  height: 100%;
  overscroll-behavior: auto;
}

.wrapper {
  width: 100%;
  min-height: 59%;
  position: relative;
}
.header-login {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 41%;
  background-image: url("/assets/img/Mobilebackgroundimage.svg");
  background-size: cover;
  padding: tbu(px(25)) tbu(px(25)) 0;

  .logo-header {
    @extend .justify-start;
    margin-bottom: 20%;
    img {
      width: tbu(px(120));
      height: tbu(px(80));
    }
  }
}

.text-header {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    padding-bottom: tbu(px(10));
  }
}

.body-login {
  display: flex;
  padding: 0 5%;
  height: 50%;
  flex-direction: column;
}

.title-body {
  padding-bottom: 4%;
  padding-top: 2%;
}

.inputs {
  nc-form-field {
    input-wrapper {
      ::ng-deep {
        nc-icon {
          .input-wrapper__show {
            right: tbu(px(0));
          }
        }
      }
    }
  }
}

.login-switch {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.icon-switch {
  @extend .justify-end;
}

.footer-login {
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 14%;
  // justify-content: center;
  gap: tbu(px(10));
  ::ng-deep {
    nc-button {
      .button.medium {
        min-width: 100%;
      }
    }
  }
  .signIn {
    width: 100%;
    @extend .flex-center;
  }

  .recover {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.login-form {
  flex: 80%;
  height: 100%;
  width: 100%;
}

nc-button {
  ::ng-deep {
    .button primary {
      background-color: var(--primary);
      border: tbu(px(2)) solid var(--primary_border);
      max-height: tbu(px(40));
    }
    .button white {
      border: tbu(px(2)) solid var(--primary_border);
      color: var(--primary);
      max-height: tbu(px(40));
    }
    .button large {
      &:not(.text) {
        min-width: 80vw;
      }
    }
  }
}
