<ion-toolbar>
  <div class="img"><img src="assets/img/gas-pump-g385a4edc0_640.jpg" /></div>
</ion-toolbar>
<ion-content>
  <div class="login-box">
    <ion-title class="title"> Log in </ion-title>
    <div class="inputs-login">
      <div class="box-1">
        <div class="icon">
          <ion-icon name="person"></ion-icon>
          <!-- <img src="../assets/person.svg" alt="img"/> -->
        </div>
        <div class="input-label">
          <ion-label position="stacked">Username or Email</ion-label>
          <ion-input
            placeholder="Username"
            (keypress)="mail($event)"
          ></ion-input>
        </div>
      </div>
      <div class="box-1">
        <div class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="input-label">
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            placeholder="Username"
            type="password"
            (keypress)="password($event)"
          ></ion-input>
        </div>
        <div class="icon">
          <ion-icon name="eye"></ion-icon>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div>
          <ion-label class="text-shift">Open shift</ion-label>
        </div>
        <div>
          <ion-label class="text-shift-plus">IF you work with shifts</ion-label>
        </div>
      </div>
      <div>
        <ion-toggle
          slot="start"
          name="kiwi"
          color="success"
          class="switch"
          checked
        ></ion-toggle>
      </div>
    </div>
    <div class="footer">
      <button class="footer__button" (click)="logInMe()">Login</button>
      <div class="footer__text">
        <span class="footer__info">Can´t get into the app </span>
        <a
          class="footer__link"
          routerLink="/recover-password"
          routerLinkActive="active"
          >Forget Password?</a
        >
      </div>
    </div>

    <!-- <div class="but1">
      <ion-button class="but11 " color="primary" (click)="logInMe()"
        >Login</ion-button
      >
    </div>
    <div class="forget-password" (click)="recoverME()">
      <ion-label class="text-recover">Can´t get into the app </ion-label>
      <ion-label class="text-recover1">Forget your password ?</ion-label>
    </div> -->
  </div>
</ion-content>
