<ion-toolbar>
  <ion-title class="title"> Log in </ion-title>
</ion-toolbar>

<ion-content>
  <ion-card-content>
    <ion-item class="box-1">
      <div class="row">
        <div>
          <ion-icon name="person"></ion-icon>
          <!-- <img src="../assets/person.svg" alt="img"/> -->
        </div>
        <div>
          <ion-label position="stacked">Username or Email</ion-label>
          <ion-input
            placeholder="Username"
            (keypress)="mail($event)"
          ></ion-input>
        </div>
      </div>
    </ion-item>
    <ion-item class="box-2">
      <div class="row">
        <div>
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            placeholder="Username"
            type="password"
            (keypress)="password($event)"
          ></ion-input>
        </div>
        <div>
          <ion-icon name="eye" class="img-eye"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-card-content>
  <div class="row">
    <div>
      <div>
        <ion-label class="text-shift">Open shift</ion-label>
      </div>
      <div>
        <ion-label class="text-shift-plus">IF you work with shifts</ion-label>
      </div>
    </div>
    <div>
      <ion-toggle
        slot="start"
        name="kiwi"
        color="success"
        class="switch"
        checked
      ></ion-toggle>
    </div>
  </div>
  <div class="but1">
    <ion-button class="but11" color="green" (click)="logInMe()"
      >Login</ion-button
    >
  </div>
  <div class="forget-password" (click)="recoverME()">
    <ion-label class="text-recover">Can´t get into the app </ion-label>
    <ion-label class="text-recover1">Forget your password ?</ion-label>
  </div>
</ion-content>
