.main-header {
  margin-top: 7%;
}

.header {
  display: flex;
}

.title {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  margin-right: 2%;
  text-indent: 20px;
}

.icon-return {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.icon-cart {
  width: 20%;
  justify-content: center;
  display: flex;
}

.main-process {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.process-1 {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
}

.process-2 {
  margin-top: 5%;
  display: flex;
}

.process-3 {
  margin-top: 5%;
  display: flex;
}

.icon-ball {
  color: orange;
}

.icon-ball-2 {
  color: green;
}

.icon-ball-3 {
  color: red;
}

.boxes-task {
  width: 100%;
}

.box {
  height: 50px;
  margin: 3% 5%;
  border: 1px solid green;
  border-radius: 17px;
  display: flex;
  align-items: center;
}

.green-spot {
  width: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
}

.light-green {
  width: 60%;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21%;
  background-color: green;
}

.name {
  width: 100%;
  display: flex;
}

.id {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col {
  width: 44%;
  display: flex;
  flex-direction: column;
}


.label-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2% 2%;

}

.price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.is_on_color{
  color : red
}

.main{
  height: calc(100% - 20%);
  margin-bottom: 0%;
  width: 100%;
}

.main-principal{
  width: 100%;
  height: 100%;
  padding: 5%;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 10%;
  align-items: center;
  justify-content: space-between;
}

.icon-filter{
  display: flex;
  justify-content: flex-start;
}

.radio-group{
  padding-bottom: 5%;
}

.text-label-header{
  padding-left: 0%;
  color: #252525;
}
.text-order{
  text-indent: 10px;
  padding-left: 3%;
}

.radio1 {
  display: flex;
  padding-bottom: 3%;
  color: #252525;

}

.text-label{
  color: #252525;
}

// .space-between {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// // background view
// .background-filters {
//   background-color: var(--secondary_bg);
//   display: flex;
//   flex-direction: column;
// }

// // calculation between the beginning of the display and the  filter-box
// .div-height {
//   height: tbu(px(76));
// }

// .filter-box {
//   background-color: var(--c-scale-1_bg);
//   border-top-right-radius: tbu(px(20));
//   border-top-left-radius: tbu(px(20));
//   position: relative;
//   display: flex;
//   flex-direction: column;
// }

// .box-option-filter {
//   margin: tbu(px(10)) tbu(px(10)) 0 tbu(px(10));
//   height: 100%;
// }

// .header-filters {
//   @extend .flex-center;
//   padding: tbu(px(24)) tbu(px(24)) tbu(px(32)) tbu(px(12));
// }

// .div-filter-icon {
// @extend .space-between;
//   gap: tbu(px(10));
//   background: transparent;
// }

// .label-title-filter {
//   @include setFontSize(px($font_size_4));
//   color: var(--white_txt);
//   font-family: sans-serif;
//   font-weight: bold;
// }

// .label-close {
//   @include setFontSize(px($font_size_3));
//   color: var(--white_txt);
//   font-family: sans-serif;
//   font-weight: bold;
// }

// .titles {
//   margin: tbu(px(20)) tbu(px(10));
//   @include setFontSize(px($font_size_4));
//   font-weight: bold;
//   font-family: sans-serif;
//   color: var(--c-scale-12_txt);
//   // &.gap {
//   //     display: flex;
//   //     align-items: center;
//   //     gap: tbu(px(10));
//   // }
//   // &.document {
//   //     margin: tbu(px(20)) tbu(px(20));
//   // }
// }

// .doc-row {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   padding: 0 tbu(px(10)) tbu(px(10));
//   &.filters {
//       flex-wrap: wrap;
//       gap: tbu(px(10));
//   }
// }

// .div-switch {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-right: tbu(px(10));
// }

// .choose-dates {
//   display: flex;
//   flex-direction: column;
// }

// .from-until-date {
//   background-color: var(--c-scale-3_bg);
//   padding: tbu(px(12)) tbu(px(24))tbu(px(8))tbu(px(12));
//   min-height: tbu(px(40));
//   margin-bottom: tbu(px(8));
//   @extend .flex-center;
//   margin: tbu(px(5))tbu(px(10));
// }

// .label-from-until {
//   @include setFontSize(px($font_size_3));
//   font-family: sans-serif;
//   color: var(--c-scale-10_txt);
//   margin-left: tbu(px(10));
// }

// .date-picker-list .am-list-item .am-list-line .am-list-extra {
//   @include setFontSize(px($font_size_4));
//   flex-basis: initial;
//   background-color: transparent;
//   color: var(--c-scale-12_txt);
// }

// ion-toggle {
//   width: tbu(px(40));
//   height: tbu(px(20));
// }

// .am-list-item {
//   background: var(--c-scale-3_bg);
// }

// .am-list-body {
//   border-bottom: 0;
//   border-top: 0;
// }

// nc-list {
//   color: var(--c-scale-12_txt)
// }

// .disabled {
//   color: var(--c-scale-8_txt)
// }

// .div-document-checked {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
