@import "./../../global.scss";

// nc-virtual-scroller {
//   height: calc(100vh - #{tbu(px(380))});
//   ::ng-deep {
//   .scrollable-content{
//     height: 145%

//   }
// }
// }

nc-virtual-scroller {
  // height: calc(100vh - #{tbu(px(380))});
  ::ng-deep {
    .scrollable-content {
      max-height: none;

    }
  }
}

// nc-virtual-scroller {
//   height: calc(100vh - #{tbu(px(50))});

// }

.header-menu {
  background-color: var(--secondary_dark);
  width: 100%;
  height: 40%;
  z-index: 3;
}

.title-menu {
  display: flex;
  width: 100%;
  padding-top: tbu(px(48));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
}

.title-main-menu {
  display: flex;
  width: 80%;
}

.icon-cart {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.operation-details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: tbu(px(12));
  padding-left: tbu(px(24));
}

.information-shift {
  @extend .align-center;
  padding-top: tbu(px(32));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));

  .date {
    width: 60%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    .icon-calendar {
      margin-right: tbu(px(17.5));
    }
  }
  .details-shift {
    display: flex;
    width: 40%;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 3%;
  }
}

.body-content {
  position: relative;

  height: 100%;
  width: 100%;
}

.box-visits {
  @extend .space-between;
  align-self: center;
  position: absolute;
  box-sizing: content-box;
  top: 35%;
  padding-right: tbu(px(24));
  padding-left: tbu(px(24));
  display: flex;
  flex-direction: column;
  background-color: var(--c-scale-1);
}

.box {
  @extend .space-between;
  width: 48%;
  // height: tbu(px(95));
  height: tbu(px(80));
  border-radius: tbu(px(5));
  // transition: height 800ms;
  &.done {
    background-color: var(--primary);
  }
  // &.done:hover {
  //   background-color: red;
  // }
  &.to-do {
    background-color: var(--warning);
  }
  // &.notSelected {
  //   // background-color: var(--c-scale-8);
  //   height: tbu(px(80));
  // }
  // &.to-do:hover {
  //   background-color: red;
  // }
}

.boxes {
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.box-type {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: tbu(px(5));
  flex-direction: column;
}

.box-info {
  width: 75%;
  flex-direction: column;
  padding: tbu(px(10)) tbu(px(11));
}

.box-image {
  width: 55%;
  padding: tbu(px(10)) tbu(px(5));
  img {
    width: 100%;
    height: 75%;
  }
}

.title-tasks {
  padding-top: 10px;
  padding-bottom: 5px;
}

.type-car {
  width: 45%;
  @extend .space-between;
  padding-bottom: tbu(px(17));
}

.card-tasks {
  width: 100%;
  @extend .align-center;
  height: tbu(px(60));
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  background-color: var(--c-scale-3);
  margin-bottom: tbu(px(12));
  border-radius: tbu(px(12));
}

.box-task {
  width: 100%;
  @extend .space-between;
  padding: 0 tbu(px(12));
}

.icon-name-user {
  width: 20%;
}
.description-task {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.bar-task {
  width: 20%;
  height: tbu(px(40));
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.light-bar {
  width: 11%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21%;
  background-color: var(--c-scale-5);
}

.icon-name-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 90%;
  background-color: red;
  width: 11%;
  background-color: var(--c-scale-1);
}

.arrow-main {
  display: flex;
  border-radius: 50%;
  background-color: var(--c-scale-2);
  align-self: center;
  position: absolute;
  top: 56%;
  height: tbu(px(70));
  width: tbu(px(70));
  right: 40%;
  box-shadow: 0px 2px 6px #18181829;
}

.arrow {
  display: flex;
  border-radius: 50%;
  background-color: var(--c-scale-1);
  align-self: center;
  position: absolute;
  top: 14%;
  height: tbu(px(50));
  width: tbu(px(52));
  right: 13%;
  box-shadow: 0px 2px 6px #3c404326;
}

.arrow-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nc-action-sheet {
  ::ng-deep {
    .action-sheet.animation {
      height: 30%;
    }
  }
}

.type-actions {
  display: flex;
  flex-direction: column;
}

.option {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.icon-app {
  width: 15%;
}

.title-price {
  display: flex;
  align-items: center;
  width: 80%;
}

.right-icon {
  display: flex;
  align-items: center;
  width: 5%;
}

.msgTasks{
  padding-top: 27%;
    padding-left: 12%;
}
