<ion-header [translucent]="true">
  <ion-header>
    <div class="header-menu">
      <ion-title> Welcome back</ion-title>
      <ion-icon></ion-icon>
    </div>
    <div class="boxes">
      <div class="box-green"></div>
      <div class="box-orange"></div>
    </div>
    <div>
      <label for=""></label>
    </div>
    <div>
      <ion-label></ion-label>
    </div>
  </ion-header>

  <ion-content></ion-content>





</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
