<ion-content>
<!-- <div class="main-container"> -->
<div class="container">

<div class="header-stats">
  <div class="container-header">
  <div class="title-header">
    <nc-text size="h3" color="c-scale-12" weight="bold" font="primary"
    >Consultar Histórico</nc-text
  >
  <div class="subtitle-header">
    <nc-text size="h7" color="c-scale-8" weight="500" font="primary"
    >Histórico das tarefas Finalizadas</nc-text
  >
  </div>
  </div>



  </div>
  <div class="icon-filter" >
    <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
              >icon_filter</nc-icon
            >
  </div>
</div>

  <!-- <div class="icon-close1" *ngIf="!tasksService.turnSearch"   (click)="close1()">
<div    >
  <nc-icon
    [size]="18"
    color="c-scale-12"
    hoverColor="c-scale-12"

    >icon_close</nc-icon
  >
</div>
</div> -->


<!-- <div class="body-history"> -->
  <div class="date-input">
  <nc-input
  [attr.tester]="'search-bar-current'"
  placeholder="Pesquise pelo Dia e Nome"
  [bgInputColor]="'c-scale-12'"
  [icon]="'icon_search'"
  [iconPosition]="'left'"
  [clear]="false"
  [type]="'text'"
  [size]="'medium'"
  (valueChange)="filterByData($event)"
>
</nc-input>
<ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
</div>
  <div class="toDO" >
    <nc-virtual-scroller
      #scroll
      [items]="this.tasksService.sortedList "
    >
    <div class="container-taskHistory" *ngFor="let task  of scroll.viewPortItems">
      <div class="date-history">
        <nc-text
        id="icon-user"
        size="h8"
        color="c-scale-12"
        weight="bold"
        font="primary"
       maxlength="10"
       class="ellipsis"
        >{{task.endDate}}</nc-text
      >
      </div>
      <div
        class="card-tasks"

      >
        <div class="box-task" (click)="selectedTask(task)">
          <div class="icon-name-user">
            <nc-text
              id="icon-user"
              size="h7"
              color="c-scale-10"
              weight="500"
              font="primary"

              >{{task.entity.firstName |
              prefix}}{{task.entity.lastName | prefix}}</nc-text
            >
          </div>
          <div class="description-task">
            <div class="name-task">
              <span

                size="h7"
                color="c-scale-12"
                weight="500"
                font="primary"
                >{{task.entity.firstName}}
                {{task.entity.lastName}}</span
              >
            </div>
            <div class="container-task">
              <div class="operation-type">
                <span
                  size="h8"
                  color="c-scale-10"
                  weight="500"
                  font="primary"
                  >{{task.name}}</span
                >
              </div>
              <div class="localization-task">
                <span
                  size="h8"
                  color="c-scale-10"
                  weight="500"
                  font="primary"
                  >{{task.address.cityName}}</span
                >
              </div>
            </div>
          </div>
          <div class="bar-task" >
            <div  class="light-bar" [ngStyle]="{'background-color': tasksService.getColor(task.currentStatus.id)}" ></div>
            <!-- <div  class="light-bar1" *ngIf="!tasksService.turnColor" ></div> -->
            <!-- <div class="light-bar1" *ngIf="turnColorOrange"></div> -->
          </div>
        </div>
      </div>
    </div>
    </nc-virtual-scroller>
  </div>
</div>

<!-- </div> -->

<!-- </div> -->

</ion-content>



<!-- <div class="body-container">
  <div class="title-container">
    <div class="icon-calendar">
      <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
      >icon_calendar</nc-icon
    >
    </div>
     <div class="text-title">
      <nc-text size="h7" color="c-scale-12" weight="bold" font="primary"
      >{{tasksService.today}}</nc-text
    >
     </div>
  </div>
  <div class="cards">
    <div class="card-credit">
     <div class="title-card">
      <nc-text size="h4" color="c-scale-12" weight="bold" font="secondary">1000,00€</nc-text>
     </div>
     <div class="info-card">
      <div class="text-info">
        <div class="text-one">
          <nc-text size="h7" color="c-scale-8" weight="500" font="primary">Today</nc-text>
        </div>
   <div class="text-two">
    <nc-text size="h7" color="success_light" weight="success_light" font="primary">Credito</nc-text>
   </div>
      </div>
      <div class="icon-info">
        <nc-icon [size]="18" color="success" hoverColor="c-scale-12"
        >icon_analyticsvalue</nc-icon
      >
      </div>
     </div>
    </div>
    <div class="card-debit">
      <div class="title-card">
        <nc-text size="h4" color="c-scale-12" weight="bold" font="secondary">1000,00€</nc-text>
       </div>
       <div class="info-card">
        <div class="text-info">
          <div class="text-one">
            <nc-text size="h7" color="c-scale-8" weight="500" font="primary">Today</nc-text>
          </div>
     <div class="text-two">
      <nc-text size="h7" color="error_light" weight="success_light" font="primary">Debito</nc-text>
     </div>
        </div>
        <div class="icon-info">
          <nc-icon [size]="18" color="error" hoverColor="c-scale-12"
          >icon_analyticsvalue</nc-icon
        >
        </div>
       </div>
    </div>
  </div>
  <div class="container-sales">
    <div class="title-sales">
<div class="icon-sales">
  <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
  >icon_location</nc-icon
>
</div>
<div class="text-sales">
  <nc-text size="h7" color="c-scale-12" weight="500" font="primary">Top - 5 Locais de vendas</nc-text>
</div>
    </div>
    <div class="view-all">
      <nc-text size="h7" color="c-scale-12" weight="bold" font="primary">View all</nc-text>
    </div>
  </div>
  <div class="graphs">


  </div>
</div> -->







<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header> -->



<!-- <ion-content>
  <div class="header-task">
    <div class="filter-header">
      <div class="input-task"> -->
        <!-- <nc-searchBar #searchFocus placeholder="Pesquisar..."></nc-searchBar> -->
      <!-- </div>
      <div class="icons-header">
        <div class="icon-task" (click)="searchClick()"> -->
          <!-- <nc-input
          [attr.tester]="'search-bar-current'"
          [placeholder]="'Global.searchHere'|translate"
          [bgInputColor]="'c-scale-12'"
          [icon]="'icon_search'"
          [iconPosition]="'left'"
          [clear]="true"
          [type]="'text'"
          [size]="'medium'"
          [(value)]="searchValue"
          (valueChange)="searchDocument($event)"
          (onClear)="cancelSearchDoc($event)"
          > </nc-input> -->

          <!-- >
        </div>
        <div class="icon-task" (click)="filterClick()">
          <nc-icon [size]="18" color="c-scale-1" hoverColor="c-scale-1"
            >icon_filter</nc-icon
          >
        </div>
      </div>
    </div>
    <div class="states-header">
      <div class="state-task">
        <div class="icon-state processing"></div>
        <div class="txt-state">
          <span>Processo</span>
        </div>
      </div>
      <div class="state-task">
        <div class="icon-state done"></div>
        <div class="txt-state">
          <span>terminado</span>
        </div>
      </div>

      <div class="state-task">
        <div class="icon-state cancel"></div>
        <div class="txt-state">
          <span>cancelado</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-header">
    <div class="header-main">
      <div class="header"></div>

      <nc-virtual-scroller #scroll [items]="tests">
        <div class="boxes-task">
          <div *ngFor="let test  of scroll.viewPortItems">
            <div class="box" (click)="detailsTasks(test)">
              <div class="green-spot">
                <div class="light-green"></div>
              </div>
              <div class="col">
                <div class="name">{{test.name}}</div>
                <ion-label>{{test.description}}</ion-label>
              </div>
              <div class="label-box">
                <div class="id">{{test.id}}</div>
                <div class="price">{{test.price}}</div>
              </div>
            </div>
          </div>
        </div>
      </nc-virtual-scroller>
    </div>

    <nc-action-sheet [typeASheet]="1" [showFooter]="true">
      <div class="action-sheet--header">
        <nc-icon [size]="20" color="c-scale-12" hoverColor="c-scale-12"
          >icon_user</nc-icon
        >
      </div>
      <div class="action-sheet-body">
        <div class="main-principal">
          <div class="type-order">
              <div class="text-label">Order by</div> -->
            <!-- <div class="inputs-order"></div>
            <ion-list class="radio-group">
              <ion-radio-group>
                <ion-list-header class="text-label-header">
                  <ion-label> Order by </ion-label>
                </ion-list-header>
                <div class="radio1">
                  <ion-radio value="cord"></ion-radio>
                  <ion-label class="text-order"
                    >Order number (small to big)</ion-label
                  >
                </div>
                <div class="radio1">
                  <ion-radio value="duesenberg"></ion-radio>
                  <ion-label class="text-order"
                    >Order number (big to small)
                  </ion-label>
                </div>
                <div class="radio1">
                  <ion-radio value="hudson"></ion-radio>
                  <ion-label class="text-order">Value(low first)</ion-label>
                </div>
                <div class="radio1">
                  <ion-radio value="packard"></ion-radio>
                  <ion-label class="text-order">Value (high first)</ion-label>
                </div>
              </ion-radio-group>
            </ion-list>
            <div class="text-label">Short by</div>
          </div>
          <div class="delivers">
            <div class="text-label">Delivery date</div>
            <div class="choose-dates">
              <div class="from-until-date">
                <nc-icon
                  class="icon-calendar"
                  [size]="14"
                  color="c-scale-12"
                  hoverColor="c-scale-12"
                  >icon_calendar</nc-icon
                > -->
                <!-- <span class="label-from-until"
                      >{{"Global.fromDate" | translate }}</span > -->
                <!-- <nc-list [className]="'date-picker-list'">
                  <nc-list-item
                    [attr.tester]="'date-from'"
                    [class.disabled]="!disabledChooseDate"
                    ncDatePicker
                    [mode]="'date'"
                    [(ngModel)]="value1"
                    (onOk)="FromDate($event)"
                    [extra]="currentDateFormat(value1)"
                  >
                  </nc-list-item>
                </nc-list>
              </div>
              <div class="from-until-date">
                <nc-icon
                  class="icon-calendar"
                  [size]="14"
                  color="c-scale-12"
                  hoverColor="c-scale-12"
                  >icon_calendar</nc-icon
                > -->
                <!-- <span class="label-from-until"
                     >{{"Global.fromDate" | translate }}</span > -->
                <!-- <nc-list [className]="'date-picker-list'">
                  <nc-list-item
                    [attr.tester]="'date-from'"
                    [class.disabled]="!disabledChooseDate"
                    [disabled]="!disabledChooseDate"
                    ncDatePicker
                    [mode]="'date'"
                    [(ngModel)]="value2"
                    (onOk)="UntilDate($event)"
                    [extra]="currentDateFormat(value2)"
                  >
                  </nc-list-item>
                </nc-list>
              </div> -->

              <!-- date 2 -->

              <!-- <div class="from-until-date">
<span class="label-from-until">{{"Global.untilDate" | translate}}</span>
<nc-list [className]="'date-picker-list'">
<nc-list-item [attr.tester]="'date-until'" [class.disabled]="!disabledChooseDate" [disabled]="!disabledChooseDate" ncDatePicker [mode]="'date'" [(ngModel)]="value2" (onOk)="UntilDate($event)" [extra]="currentDateFormat(value2)">
</nc-list-item>
</nc-list>
</div>  -->
            <!-- </div>
            <div class="value">
              <div class="text-label">Value</div>
            </div>
          </div>
        </div>
        <div class="state-delivery">
          <div class="text-state">Type of order</div>
          <div class="boxes-state">
            <nc-tag color="c-scale-12">
              <nc-text [size]="14" color="--c-scale-12">Cliente </nc-text>
            </nc-tag>
            <nc-tag color="c-scale-12">
              <nc-text [size]="14" color="--c-scale-12">Supplier </nc-text>
            </nc-tag>
            <nc-tag color="c-scale-12">
              <nc-text [size]="14" color="--c-scale-12">Return </nc-text>
            </nc-tag>

            </nc-tag
            <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons1"  (click)="selectedTypeFilter(0)" >Client</div>
            <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons2"  (click)="selectedTypeFilter(1)" >Supllier</div>
            <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons3"  (click)="selectedTypeFilter(2)" >Return</div> -->
          <!-- </div>
        </div>
      </div>
    </nc-action-sheet>
  </div>
</ion-content>


 <div class="main-header"> -->
  <!-- <div class="header-main-principal"> -->
  <!-- <div class="header-main">
    <div class="header">
      <div class="icon-return">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <ion-label class="title">Products</ion-label>
    </div>
  </div> -->
  <!-- </div> -->
  <!-- <div class="sub-header">
  </div> -->
  <!-- Ver isto  -->
  <!-- <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
    <dl class="example-dl"> -->
  <!-- <ion-scroll scrollY="true"> -->
  <!-- <div class="main-product">
    <div *ngFor="let product of products">
      <ion-card>
        <ion-card-header>
          <div class="img">
            <img src="{{product.image}}" width="30%" />
          </div>
          <div class="family">
            <ion-card-subtitle>{{product.family}}</ion-card-subtitle>
          </div>
          <div class="sub-family">
            <ion-card-title>{{product.subfamily}}</ion-card-title>
          </div>
          <div class="price">
            <ion-label>{{product.price}}</ion-label>
          </div>
          <div class="validate">
            <ion-label>{{product.validade}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content> </ion-card-content>
      </ion-card>
    </div>
  </div> -->
  <!-- </ion-scroll> -->
  <!-- </dl>
</cdk-virtual-scroll-viewport> -->
<!-- </div> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
