@import "./../../global.scss";


nc-virtual-scroller {
  // height: calc(100vh - #{tbu(px(380))});
  height: 70vh;
  ::ng-deep {
    .scrollable-content {
      max-height: none;
    }
  }
}


.main-container{
// height: 100vh;
width: 100%;
background-color: var(--c-scale-1_bg);
}
.container {
  margin-top: tbu(px(40));
  background-color: var(--c-scale-1_bg);
  height: 100vh;
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
  margin-bottom: tbu(px(24));
  height: 83vh;
}

.header-stats {
  display: flex;
  width: 100%;
  height: 65px;
  flex-direction: row;
}

.container-global-header{
  height: 128px;
}

.container-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 16vh;
}

.date-input{
  height: tbu(px(32));
  margin-bottom: tbu(px(10));
}

.title-header {
}

.total-price-header {
}

.icon-filter {
  width: 10%;
}

.body-container {
  width: 100%;
  height: 90%;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

.icon-calendar {
  width: 10%;
  justify-content: flex-start;
  display: flex;
}

.text-title {
  display: flex;
  align-items: center;
  width: 90%;
}

.cards {
  display: flex;
  width: 100%;
  height: tbu(px(85));
  flex-direction: row;
  justify-content: space-between;
}

.card-credit {
  width: 48%;
  padding: tbu(px(12));
  box-shadow: 10px 5px 5px #4551541a;
}

.card-debit {
  width: 48%;
  padding: tbu(px(12));
  box-shadow: 10px 5px 5px #4551541a;
}

.title-card {
  display: flex;
  justify-content: flex-start;
}

.info-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: tbu(px(12));
}

.text-info {
  width: 40%;
}

.icon-info {
  width: 60%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.container-sales {
  margin-top: tbu(px(17));
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title-sales{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.icon-sales{
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.view-all{
  width: 20%;
}

.graphs{

}

.body-history{
  height: 70vh;
    position: relative;
    width: 100%;
}

.subtitle-header{
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: tbu(px(5));
margin-bottom: 10px;

}

.box {
  @extend .space-between;
  width: 48%;
  // height: tbu(px(95));
  height: tbu(px(80));
  border-radius: tbu(px(5));
  // transition: height 800ms;
  &.done {
    background-color: var(--primary);
    width: 96%;

    margin-left: 14px;
  }
  &.done1 {
    background-color: var(--primary);
    width: 156%;
    transform: translateX(-49px);
    height: 70px;
    margin-top: 5px;
    opacity: 0.85;
  }

  // &.done:hover {
  //   background-color: red;
  // }
  &.to-do {
    background-color: var(--warning);
    width: 96%;
  }
  &.to-do1 {
    background-color: var(--warning);
    width: 100%;
    transform: translateX(49px);
    height: 70px;
    margin-top: 5px;
    opacity: 0.9;
  }

  // &.notSelected {
  //   // background-color: var(--c-scale-8);
  //   height: tbu(px(80));
  // }
  // &.to-do:hover {
  //   background-color: red;
  // }
}

.boxes {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  transform: translateY(-46px);
  width: 100%;
  & > * {
    z-index: 3;
  }
}

.box-type {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: tbu(px(5));
  flex-direction: column;
  transform: translateY(-44px);
}

.box-info {
  width: 75%;
  flex-direction: column;
  padding: tbu(px(10)) tbu(px(11));
  display: flex;
  align-items: flex-start;
}

.box-image {
  width: 20%;
  padding: tbu(px(10)) tbu(px(5));
  img {
    width: 100%;
    height: 75%;
  }
}

.title-tasks {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.titles-task {
  width: 60%;
  justify-content: flex-start;
  display: flex;
  padding-bottom: 10px;
}

.type-operation {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

.type-car {
  width: 45%;
  @extend .space-between;
  padding-bottom: tbu(px(17));
}

.container-taskHistory{
  width: 100%;
  height: 72px;
 display: flex;
  flex-direction: column;
  margin-top: tbu(px(12));
}

.date-history{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
      margin-top: 15px;
}

.card-tasks {
  width: 100%;
  @extend .align-center;
  height: tbu(px(60));
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  background-color: var(--c-scale-3);
  margin-bottom: tbu(px(12));
  border-radius: tbu(px(12));
}

.box-task {
  width: 100%;
  @extend .space-between;
  padding: 0 tbu(px(12));
}

.icon-name-user {
  width: 20%;
}
.description-task {
  display: flex;
  flex-direction: column;
  width: 78%;
  justify-content: flex-start;
  align-items: flex-start;
}

.bar-task {
  width: 3%;
  height: tbu(px(40));
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.light-bar {
  width: 62%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21%;
  background-color: green
}

.light-bar1 {
  width: 62%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21%;
  background-color: orange
}

.icon-name-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 90%;
  background-color: red;
  width: 11%;
  background-color: var(--c-scale-1);
}

type-actions {
  display: flex;
  flex-direction: column;
}

.option {
  margin-top: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.icon-app {
  width: 15%;
}

.title-price {
  display: flex;
  align-items: center;
  width: 80%;
}

.right-icon {
  display: flex;
  align-items: center;
  width: 5%;
}

.name-task {
  span {
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
  }
  display: flex;
  width: 94%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: var(--c-scale-12);
  font-size: medium;
  text-align: left;
}

.msgTasks {
  padding-top: 27%;
  // padding-left: 12%;
}

.container-task {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 3px;
}

.type-operation {
}

.operation-type {
  span {
    font-size: 12px;
    font-family: inherit;
  }
  display: inline-block;
  width: 98px;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--c-scale-10);
  margin-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.localization-task {

  span {
    font-size: 12px;
    font-family: inherit;
  }

  display: inline-block;
  width: 106px;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--c-scale-10);
  font-weight: normal normal normal 12px/16px Source Sans Pro;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}


.search-client {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6vh;
  margin-bottom: tbu(px(14));
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: tbu(px(8));
}

nc-input{
  width: 100%;

}

.ellipsis {
  width: 69px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// .filter-header,
// nc-virtual-scroller {
//   height: calc(100vh - 200px);
// }
// .states-header {
//   @extend .space-between;
//   width: 100%;
//   padding: tbu(px(12));
// }

// .icons-header {
//   @extend .flex-center;
//   gap: tbu(px(5));
// }

// .icon-task {
//   padding: tbu(px(10));
// }

// .state-task {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: var(--c-scale-4);
//   width: auto;
//   height: tbu(px(30));
//   gap: tbu(px(5));
//   padding: tbu(px(5));
//   border-radius: tbu(px(20));

//   .icon-state {
//     height: tbu(px(15));
//     width: taction-sheet--headerbu(px(15));
//     border-radius: 50%;
//     &.processing {
//       background-color: var(--warning);
//     }
//     &.done {
//       background-color: var(--success);
//     }
//     &.cancel {
//       background-color: var(--error);
//     }
//   }

//   .txt-state {
//     font-size: tbu(px(12));
//     color: --c-scale-12;
//   }
// }

// .title {
//   width: 60%;
//   display: flex;
//   justify-content: flex-start;
//   margin-right: 2%;
//   text-indent: 20px;
// }

// .icon-return {
//   width: 20%;
//   display: flex;
//   justify-content: flex-end;
// }

// .icon-cart {
//   width: 20%;
//   justify-content: center;
//   display: flex;
// }

// .boxes-task {
//   width: 100%;
// }

// .box {
//   height: 50px;
//   margin: 3% 5%;
//   border: 1px solid green;
//   border-radius: 17px;
//   display: flex;
//   align-items: center;
// }

// .green-spot {
//   width: 6%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   padding: 2% 2%;
// }

// .light-green {
//   width: 60%;
//   height: 93%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 21%;
//   background-color: green;
// }

// .name {
//   width: 100%;
//   display: flex;
// }

// .id {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

// .col {
//   width: 44%;
//   display: flex;
//   flex-direction: column;
// }

// .label-box {
//   width: 60%;
//   display: flex;
//   flex-direction: column;
//   padding: 2% 2%;
// }

// .price {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
// }

// .is_on_color {
//   color: red;
// }

// .main {
//   height: calc(100% - 20%);
//   margin-bottom: 0%;
//   width: 100%;
// }

// .main-principal {
//   width: 100%;
//   height: 100%;
// }

// .header {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   height: 10%;
//   align-items: center;
//   justify-content: space-between;
// }

// .icon-filter {
//   display: flex;
//   justify-content: flex-start;
// }

// .radio-group {
//   padding-bottom: 5%;
//   background-color: #0000;
// }

// .text-label-header {
//   padding-left: 0%;
//   color: #252525;
// }

// .text-order {
//   text-indent: 10px;
//   padding-left: 3%;
// }

// .radio1 {
//   display: flex;
//   padding-bottom: 3%;
//   color: #252525;
// }

// .text-label {
//   color: #252525;
//   padding-bottom: 3%;
// }

// .choose-dates {
//   display: flex;
//   flex-direction: column;
// }

// .from-until-date {
//   background-color: var(--c-scale-3_bg);
//   padding: tbu(px(12)), tbu(px(24)), tbu(px(8)), tbu(px(12));
//   min-height: tbu(px(40));
//   margin-bottom: tbu(px(8));
//   // @extend .flex-center;
//   margin: tbu(px(5)), tbu(px(10));
//   margin-bottom: 5%;
//   display: flex;
//   align-items: center;
//   text-indent: 10px;
// }

// .date-picker-list .am-list-item .am-list-line .am-list-extra {
//   // @include setFontSize(px($font_size_4));
//   flex-basis: initial;
//   background-color: transparent;
//   color: var(--c-scale-12_txt);
// }

// .icon-calendar {
//   margin-left: 3%;
// }

// .text-state {
//   color: #252525;
//   padding-bottom: 3%;
// }

// .boxes-state {
//   display: flex;
//   width: 100%;
//   height: tbu(px(50));
//   justify-content: flex-start;
//   gap: tbu(px(5));
// }

// .box-state {
//   margin: 3% 5%;
//   border: 1px solid black;
//   display: flex;
//   color: #090909;
//   flex-direction: row;
//   /* display: flex; */
//   width: 100%;
//   /* align-items: center; */
//   /* flex-direction: row; */
//   padding: 3%;
//   align-items: center;
// }

// nc-searchbar {
//   ::ng-deep {
//     input {
//       background: var(--c-scale-12_bg) !important ;
//       text-indent: tbu(px(30));
//       color: var(--c-scale-1);
//     }
//   }
// }
