<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="main-header">
  <!-- <div class="header-main-principal"> -->
  <div class="header-main">
    <div class="header">
      <div class="icon-return">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <ion-label class="title">Products</ion-label>
    </div>
  </div>
  <!-- </div> -->
  <div class="sub-header">
  </div>
  <!-- Ver isto  -->
  <!-- <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
    <dl class="example-dl"> -->
  <!-- <ion-scroll scrollY="true"> -->
  <div class="main-product">
    <div *ngFor="let product of products">
      <ion-card>
        <ion-card-header>
          <div class="img">
            <img src="{{product.image}}" width="30%" />
          </div>
          <div class="family">
            <ion-card-subtitle>{{product.family}}</ion-card-subtitle>
          </div>
          <div class="sub-family">
            <ion-card-title>{{product.subfamily}}</ion-card-title>
          </div>
          <div class="price">
            <ion-label>{{product.price}}</ion-label>
          </div>
          <div class="validate">
            <ion-label>{{product.validade}}</ion-label>
          </div>
        </ion-card-header>
        <ion-card-content> </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- </ion-scroll> -->
  <!-- </dl>
</cdk-virtual-scroll-viewport> -->
</div>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
