<ion-header class="header-menu">
  <div class="title-menu">
    <div class="icon-close">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="back()"
        >icon_search</nc-icon
      >
    </div>
    <div class="order-details">
      <div class="operator-name">
        <nc-text size="h7" color="c-scale-1" weight="500" font="primary"
          >Sub family</nc-text
        >
      </div>
    </div>
    <div class="icon-close">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="close()"
        >icon_search</nc-icon
      >
    </div>
    <div class="icon-filter">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="close()"
        >icon_filter</nc-icon
      >
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="list-content">
    <nc-virtual-scroller class="card-list" #scrollList [items]="products2">
      <div
        *ngFor="let test of scrollList.viewPortItems"
        class="card-list__wrap"
      >
        <div class="card">
          <div class="img-card" (click)="cardsClick(test)">
            <img src="{{test.image}}" />
          </div>
          <div class="title-card">
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{test.tittle}}</nc-text
            >
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{test.price}}</nc-text
            >
          </div>
        </div>
      </div>
    </nc-virtual-scroller>
  </div>
</ion-content>
