<ion-header class="header-menu">
  <div class="title-menu" *ngIf="!turnFocus">
    <div class="icon-close">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="back()"
        >arrow-left</nc-icon
      >
    </div>
    <div class="order-details">
      <div class="operator-name">
        <nc-text size="h7" color="c-scale-1" weight="500" font="primary"
          >{{'App.ProductsFamily.headerTitle' | translate}}</nc-text
        >
      </div>
    </div>
    <div class="icon-close" (click)="search()">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="close()"
        >icon_search</nc-icon
      >
    </div>
    <div class="icon-filter">
      <nc-icon
        [size]="18"
        color="c-scale-1"
        hoverColor="c-scale-1"
        (click)="filterClick()"
        >icon_filter</nc-icon
      >
    </div>
  </div>
  <div class="title-menu">
    <div class="searchFocus" *ngIf="turnFocus">
      <div class="icon-search">
        <nc-icon
          [size]="18"
          color="c-scale-1"
          hoverColor="c-scale-1"
          >icon_search</nc-icon
        >
      </div>
      <div class="input-search">
        <nc-input
        [attr.tester]="'search-bar-current'"
        placeholder="Pesquise aqui..."
        [bgInputColor]="'c-scale-12'"
        [clear]="true"
        [type]="'text'"
        [size]="'medium'"
        (valueChange)="searchDocument($event)"
        (ngOnChanges)="ngOnChanges($event)">

        </nc-input>
      </div>
    </div>
  </div>

</ion-header>

<!-- FILTER -->

<nc-action-sheet [typeASheet]="1" [showFooter]="true">
  <div class="action-sheet--header">
    <nc-icon [size]="20" color="c-scale-12" hoverColor="c-scale-12"
      >icon_user</nc-icon
    >
  </div>
  <div class="action-sheet-body">
    <div class="main-principal">
      <div class="type-order">
        <!-- <div class="text-label">Order by</div> -->
        <div class="inputs-order"></div>
        <ion-list class="radio-group">
          <ion-radio-group>
            <ion-list-header class="text-label-header">
              <ion-label> Order by </ion-label>
            </ion-list-header>
            <div class="radio1">
              <ion-radio value="cord"></ion-radio>
              <ion-label class="text-order"
                >Order number (small to big)</ion-label
              >
            </div>
            <div class="radio1">
              <ion-radio value="duesenberg"></ion-radio>
              <ion-label class="text-order"
                >Order number (big to small)
              </ion-label>
            </div>
            <div class="radio1">
              <ion-radio value="hudson"></ion-radio>
              <ion-label class="text-order">Value(low first)</ion-label>
            </div>
            <div class="radio1">
              <ion-radio value="packard"></ion-radio>
              <ion-label class="text-order">Value (high first)</ion-label>
            </div>
          </ion-radio-group>
        </ion-list>
        <div class="text-label">Short by</div>
      </div>
      <div class="delivers">
        <div class="text-label">Delivery date</div>
        <div class="choose-dates">
          <div class="from-until-date">
            <nc-icon
              class="icon-calendar"
              [size]="14"
              color="c-scale-12"
              hoverColor="c-scale-12"
              >icon_calendar</nc-icon
            >
            <!-- <span class="label-from-until"
                  >{{"Global.fromDate" | translate }}</span > -->
            <nc-list [className]="'date-picker-list'">
              <nc-list-item
                [attr.tester]="'date-from'"
                [class.disabled]="!disabledChooseDate"
                ncDatePicker
                [mode]="'date'"
                [(ngModel)]="value1"
                (onOk)="FromDate($event)"
                [extra]="currentDateFormat(value1)"
              >
              </nc-list-item>
            </nc-list>
          </div>
          <div class="from-until-date">
            <nc-icon
              class="icon-calendar"
              [size]="14"
              color="c-scale-12"
              hoverColor="c-scale-12"
              >icon_calendar</nc-icon
            >
            <!-- <span class="label-from-until"
                  >{{"Global.fromDate" | translate }}</span > -->
            <nc-list [className]="'date-picker-list'">
              <nc-list-item
                [attr.tester]="'date-from'"
                [class.disabled]="!disabledChooseDate"
                [disabled]="!disabledChooseDate"
                ncDatePicker
                [mode]="'date'"
                [(ngModel)]="value2"
                (onOk)="UntilDate($event)"
                [extra]="currentDateFormat(value2)"
              >
              </nc-list-item>
            </nc-list>
          </div>

          <!-- date 2 -->

          <!-- <div class="from-until-date">
<span class="label-from-until">{{"Global.untilDate" | translate}}</span>
<nc-list [className]="'date-picker-list'">
<nc-list-item [attr.tester]="'date-until'" [class.disabled]="!disabledChooseDate" [disabled]="!disabledChooseDate" ncDatePicker [mode]="'date'" [(ngModel)]="value2" (onOk)="UntilDate($event)" [extra]="currentDateFormat(value2)">
</nc-list-item>
</nc-list>
</div>  -->
        </div>
        <div class="value">
          <div class="text-label">Value</div>
        </div>
      </div>
    </div>
    <div class="state-delivery">
      <div class="text-state">Type of order</div>
      <div class="boxes-state">
        <nc-tag color="c-scale-12">
          <nc-text [size]="14" color="--c-scale-12">Cliente </nc-text>
        </nc-tag>
        <nc-tag color="c-scale-12">
          <nc-text [size]="14" color="--c-scale-12">Supplier </nc-text>
        </nc-tag>
        <nc-tag color="c-scale-12">
          <nc-text [size]="14" color="--c-scale-12">Return </nc-text>
        </nc-tag>
        <!--
        </nc-tag
        <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons1"  (click)="selectedTypeFilter(0)" >Client</div>
        <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons2"  (click)="selectedTypeFilter(1)" >Supllier</div>
        <div class="box-state" [class.is-on-action-Buttons]="isOnActionButtons3"  (click)="selectedTypeFilter(2)" >Return</div> -->
      </div>
    </div>
  </div>
</nc-action-sheet>

<ion-content>
  <div class="list-content">
    <nc-virtual-scroller class="card-list" #scroll [items]=" this.tasksService.listsItems">
      <div *ngFor="let item of scroll.viewPortItems" class="card-list__wrap">
        <div class="card">
          <div class="img-card" (click)="cardsClick(item)">
            <img src="{{item.image}}" />
          </div>
          <div class="title-card">
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{item.name}}</nc-text
            >
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{item.price}}</nc-text
            >
          </div>
        </div>
      </div>
    </nc-virtual-scroller>
  </div>
</ion-content>

