@import "./../../global.scss";

ion-content {
  padding: tbu(px(10));
}

.header-container {
  position: relative;
  display: flex;
  // background-image: url("/assets/img/winw.jpg");
  width: 100%;
  height: 67%;
}

.img-header{
  position: relative;
  height: 100%;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

.header {
  padding-top: tbu(px(50));
  width: 100%;
  height: tbu(px(20));
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
}

.body {
  margin: tbu(px(24));
}

.product-details {
  margin: 5%;
  display: flex;

  height: tbu(px(35));
}

.title-product {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.icon-definitions {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.add-product {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.quantity-products {
  padding-right: tbu(px(12));
  width: 20%;
}

.add-products {
  margin: 5%;
  width: 13%;
  border-radius: 57px;
  background-color: var(--c-scale-12);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: tbu(px(12));
  margin-right: tbu(px(12));
}

.quantity {
  width: 30%;
  height: 48px;
  display: flex;
}

.quantity-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  width: 86px;
  height: 45px;
}

.button-add {
  width: 40%;
  height: 48px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}

}

.toast-scheme
{
  background:red;
}

.products-availables{
  display: flex;
  flex-direction: row;
}

.icon-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: tbu(px(20));
}

.details-availables{
  display: flex;
  flex-direction: column;
}

.content-options{
  margin-top: 5%;
}

.container-options{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-options{
  display: flex;
  flex-direction: row;
}

.type-actions{
  display: flex;
  flex-direction: column;
  margin-top: tbu(px(28));
}

.option{
  display: flex;
  flex-direction: row;
  margin-bottom: tbu(px(20));
  align-items: center;
}

.icon-price{
margin-right: tbu(px(10));
}



.stock-option{
  display: flex;
  flex-direction: row;

}

nc-action-sheet {
  ::ng-deep {
  .action-sheet.animation{
    height: 35%;
  }
  }
}


.badge{
  margin-bottom: tbu(px(30));
}

#notifications-badge {
  background-color: green;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;

}

#notification-button {
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}

