<ion-content>
  <div class="header-container">
    <div class="img-header">
      <img src="{{tasksService.item.image}}" alt="" />
    </div>
    <div class="header">
      <div class="icon-back">
        <nc-icon
          [size]="18"
          color="c-scale-12"
          hoverColor="c-scale-1"
          (click)="back()"
          >arrow-left</nc-icon
        >
      </div>
      <div class="title-header">
        <nc-text size="h7" color="c-scale-12" weight="500" font="primary"
          >{{'App.ProductDetails.headerTitle' | translate}}</nc-text
        >
      </div>
      <div class="button-cart" id="notification-button" >
        <div class="icon-app cart">
          <nc-icon
            [size]="18"
            color="c-scale-12"
            hoverColor="c-scale-12"
            (click)="showCart(tasksService.badge, tasksService.item)"
            >icon_shopping-cart</nc-icon
          >
          <ion-badge
            color="primary"
            id="notifications-badge"
            *ngIf="!tasksService.controlBadge"
            >{{tasksService.quantity2}}</ion-badge
          >
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="options" *ngIf="!active">

  </div>

 -->

  <div class="container-body" *ngIf="active">
    <div class="body">
      <div class="product-details">
        <div class="title-product">
          <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
            >{{tasksService.item.name}}</nc-text
          >
          <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
            >0,50€</nc-text
          >
        </div>
        <div class="icon-definitions">
          <nc-icon
            [size]="18"
            color="c-scale-12"
            hoverColor="c-scale-12"
            (click)="options()"
            >icon_options</nc-icon
          >
        </div>
      </div>
      <div class="add-product">
        <div class="quantity-products">
          <nc-stepper
            [showNumber]="true"
            (value)="this.tasksService.quantity2"
            [min]="0"
            [(ngModel)]="ammount"
            (click)="show(ammount)"
          ></nc-stepper>
        </div>
        <div class="button-add">
          <nc-text
            size="h7"
            color="c-scale-10"
            weight="500"
            font="primary"
            (click)="addProduct(  this.tasksService.item)"
          >
            {{'App.ProductDetails.buttonAddCart' | translate}}
          </nc-text>
        </div>
      </div>
      <div class="products-availables">
        <div class="icon-stats">
          <nc-icon [size]="18" color="c-scale-12" hoverColor="c-scale-12"
            >icon_truck_orders</nc-icon
          >
        </div>
        <div class="details-availables">
          <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
            >{{'App.ProductDetails.availableStock' | translate}}
          </nc-text>
          <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
            >{{'App.ProductDetails.value' | translate}}</nc-text
          >
        </div>
      </div>
    </div>
  </div>
  <nc-action-sheet [typeASheet]="1" [showFooter]="false">
    <div class="action-sheet-body">
      <div class="content-options">
        <div class="container-options">
          <div class="description-options">
            <nc-text size="h7" color="c-scale-10" weight="500" font="primary"
              >{{'App.ProductDetails.subHeaderActionSheet' |
              translate}}</nc-text
            >
          </div>
        </div>
        <div class="type-actions">
          <div class="option">
            <div class="icon-app">
              <nc-icon
                [size]="18"
                color="c-scale-12"
                hoverColor="c-scale-12"
                (click)="options()"
                >icon_options</nc-icon
              >
            </div>
            <div class="title-price">
              <nc-text size="h7" color="c-scale-10" weight="bold" font="primary"
                >{{'App.ProductDetails.price' | translate}}</nc-text
              >
            </div>
          </div>
          <div class="option">
            <div class="icon-app">
              <nc-icon
                [size]="18"
                color="c-scale-12"
                hoverColor="c-scale-12"
                (click)="options()"
                >icon_cross</nc-icon
              >
            </div>
            <div class="title-stock">
              <nc-text size="h7" color="c-scale-10" weight="bold" font="primary"
                >{{'App.ProductDetails.stock' | translate}}</nc-text
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nc-action-sheet>
</ion-content>
