
  <div class="header-menu">
    <div class="title-menu">
      <div class="icon-close">
        <nc-icon
          [size]="18"
          color="c-scale-1"
          hoverColor="c-scale-1"
          (click)="close()"
          >arrow-left</nc-icon
        >
      </div>
      <div class="order-details">
        <div class="operator-name">
          <nc-text size="h7" color="c-scale-1" weight="500" font="primary"
            >{{'App.Products.productFamily' | translate}}</nc-text
          >
        </div>
      </div>
    </div>
  </div>
<nc-tabs
      #tabs
      class="tabs"
      (onChange)="clickTab($event)"
      [tabBarActiveTextColor]="'var(--c-scale-12)'"
      [tabBarUnderlineStyle]="{borderColor: 'var(--c-scale-12)'}"
      [tabBarInactiveTextColor]="'var(--c-scale-8)'"
    >
      <nc-tab-pane [attr.tester]="'click-tab'" title="{{'App.Products.home' | translate}}">
        <div>
          <div style="padding: 24px">

            <nc-accordion *ngFor="let test of tasksService.listItems" >
              <nc-accordion-tab  [header]="test.name"   [expandIcon]="'icon_arrow'" weight="regular" >
                <div *ngFor="let child  of test.children" style ="text-transform: lowercase">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(child)"> {{child.name}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family'" [expandIcon]="'icon_arrow'" >
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(test)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
              <nc-accordion-tab [header]="'Family '" [expandIcon]="'icon_arrow'">
                <div *ngFor="let test  of products1">

                  <nc-text size="h7" color="var(--c-scale-10)" font="primary" weight="regular" (click)="subFamily(3)"> {{test.family}}</nc-text >
                </div>
              </nc-accordion-tab>
            </nc-accordion>
          </div>
          <div class="div-show-message" *ngIf="entitiesListFilter && entitiesListFilter.length === 0">
            <img src="assets/images/leaves.svg" />
            <div class="no-items">
              <span class="no-items-title">{{"Global.noResult" | translate}}</span>
        <span class="no-items-message">
                {{"Global.textNoResult1" | translate}}
                <p>{{"Global.textNoResult2" | translate}}</p>
              </span>
    </div>
    </div>
    </div>
    </nc-tab-pane>
    <nc-tab-pane [attr.tester]="'click-tab'" title="{{'App.Products.service' | translate}}">
      <div>
        <div style="padding: 24px">
      HOLLA
        <div class="div-show-message" *ngIf="entitiesListFilter && entitiesListFilter.length === 0">
          <img src="assets/images/leaves.svg" />
          <div class="no-items">
            <span class="no-items-title">{{"Global.noResult" | translate}}</span>
      <span class="no-items-message">
              {{"Global.textNoResult1" | translate}}
              <p>{{"Global.textNoResult2" | translate}}</p>
            </span>
      </div>
  </div>
  </div>
  </div>
  </nc-tab-pane>
</nc-tabs>


<!-- <div class="test21" *ngIf="active">

  BOAS
</div>

<div class="test12" *ngIf="activeTest">

olaá
</div> -->
