@import "./../../global.scss";

.header-task-details {
  @extend .justify-end;
  width: 100%;
  height: 13%;
  background-color: var(--c-scale-12);
  flex-direction: column;
}

.filter-header-details {
  @extend .space-between;
  width: 90%;
  padding: tbu(px(12));
}

.number-task-detail {
  @extend .flex-center;
  gap: tbu(px(5));
  color: var(--c-scale-1);
}
.status-task-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: var(--c-scale-4);
  width: auto;
  height: tbu(px(30));
  gap: tbu(px(5));
  padding: tbu(px(5));
  border-radius: tbu(px(20));
  color: var(--warning_dark);
  .icon-state {
    height: tbu(px(15));
    width: tbu(px(15));
    border-radius: 50%;
    &.processing {
      background-color: var(--warning);
    }
    &.txt-state {
      color: var(--warning_dark);
    }
  }
}
