<nc-action-sheet></nc-action-sheet>
<div class="main">
  <div class="main-principal">
    <div class="header">
      <div class="icon-filter">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label class="text-header"> Filters </ion-label>
      </div>
      <div class="icon-close">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>
      <div class="type-order">
        <div class="text-label">Order by</div>
        <div class="inputs-order"></div>
        <ion-list>
          <ion-item *ngFor="let entry of form">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
        <div class="text-label">Short by</div>
      </div>

      <div class="delivers">
        <div class="header-delivery">
          <div class="text-label">Delivery date</div>
          <div class="inputs-delivery">
            <div class="input1">
              <img src="" alt="" />
              <input type="data" />
            </div>
            <div class="input2">
              <img src="" alt="" />
              <input type="data" />
            </div>
          </div>
        </div>
        <div class="value">
          <div class="text-label">Value</div>
        </div>
      </div>
    </div>
</div>
