@import "./../../global.scss";

.header-container {
  height: 85px;
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 35px;
}

.card-tasks {
  @extend .align-center;
  width: 100%;
  padding-top: tbu(px(13));
  padding-bottom: tbu(px(11));
  margin-bottom: tbu(px(12));
  border-radius: tbu(px(12));
}

.box-task {
  width: 100%;
  display: flex;
  margin-bottom: tbu(px(24));
}

.left-icon {
  display: flex;
  align-items: flex-start;
  width: 5%;
}

.description-task {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-left: tbu(px(15));
}

.right-icon {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  width: 10%;
}

.body-content {
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
  height: 70%;
}

nc-input {
  width: 100%;
  padding-bottom: tbu(px(8));
  ::ng-deep {
    input {
      background-color: var(--c-scale-1_bg) !important ;
      border: tbu(px(1)) solid var(--c-scale-3_border);
    }
  }
}

nc-input:hover {
  ::ng-deep {
    input:hover {
      border: 1px solidvar(--primary_border);
    }
  }
}

.input-search {
  margin-top: tbu(px(24));
}

.footer {
  margin-left: tbu(px(24));
  margin-right: tbu(px(24));
}

.button-footer {
  height: tbu(px(48));
  width: 100%;
  background-color: var(--c-scale-12);
  @extend .flex-center;

  ::ng-deep {
    nc-button {
      .button.medium {
        min-width: 100%;
      }
    }
  }
}
