@import "./../../global.scss";

ion-content {
  padding: tbu(px(10));
}

nc-virtual-scroller {
  height: calc(100vh - #{tbu(px(365))});
}

.header-menu {
  background-color: var(--c-scale-12);
  background-size: cover;
  width: 100%;
  height: 11%;
}

.title-menu {
  display: flex;
  width: 100%;
  padding-top: tbu(px(48));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
}

.order-details {
  display: flex;
  width: 100%;
}

.operator-name {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: tbu(px(10));
  width: 100%;
}

.icon-close {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.steps {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.step-details {
  display: flex;
  flex-direction: column;
  height: tbu(px(15));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 5%;
}

.step-space {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 45%;
  margin-left: tbu(px(10));
}
.step-space:hover {
  background-color: var(--primary);
}

.step-space1 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 38%;
  margin-left: tbu(px(10));
}
.step-space2 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--c-scale-6);
  border-radius: 50%;
  width: 37%;
  margin-left: tbu(px(10));
}

.container-articles {
  display: flex;
  margin-top: tbu(px(19));
}

.body-content {
  height: 60%;
  padding-left: 24px;
  padding-right: 24px;
}

.info-client {
  display: flex;
  width: 100%;
  height: tbu(px(20));
  margin-top: tbu(px(26));

  .icon-user {
    width: 10%;
    display: flex;
    justify-content: flex-start;
  }

  .name-user {
    width: 90%;
    display: flex;
    align-items: center;
  }
}

.container-product {
  display: flex;
  width: 100%;
  align-items: centter;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#notifications-badge {
  background-color: green;
  border-radius: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#notifications-badge1 {
  background-color: var(--c-scale-12);
  border-radius: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-checkbox {
  --border-radius: 50%;
}

.img-article {
  width: 17%;
  margin-right: 5%;
}

.type-article {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.reference-article {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.reference {
  display: flex;
  justify-content: flex-end;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.add-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.final-sum {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.price-shop {
  display: flex;
  flex-direction: row;
  .shipping-price {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.discont-value {
  display: flex;
  flex-direction: row;
  .discount {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.total-product {
  display: flex;
  flex-direction: row;
  .total {
    width: 80%;
  }
  .value {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
}

.buttons-client {
  display: flex;
  flex-direction: row;
  padding-bottom: tbu(px(16));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
  justify-content: space-between;
  width: 100%;

  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border: tbu(px(2)) solid var(--secondary_dark);
    border-radius: tbu(px(4));
    height: tbu(px(50));
  }
  .client-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border: tbu(px(1)) solid var(--secondary_dark);
    border-radius: tbu(px(4));
    height: tbu(px(50));
    background-color: var(--c-scale-12_bg);
  }
}

.client-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border: tbu(px(1)) solid var(--secondary_dark);
  border-radius: tbu(px(4));
  height: tbu(px(50));
  background-color: var(--error_bg);
}

.client-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border: tbu(px(1)) solid var(--secondary_dark);
  border-radius: tbu(px(4));
  height: tbu(px(50));
  background-color: var(--primary_bg);
}

.choose-dates {
  display: flex;
  flex-direction: column;
}

.from-until-date {
  background-color: var(--c-scale-3_bg);
  padding: tbu(px(12)), tbu(px(24)), tbu(px(8)), tbu(px(12));
  min-height: tbu(px(40));
  margin-bottom: tbu(px(8));
  // @extend .flex-center;
  margin: tbu(px(5)), tbu(px(10));
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  text-indent: 10px;
}

.container-adress {
  height: 65%;
}

.delivery-date {
  height: 70%;
  padding-top: tbu(px(24));
  padding-bottom: tbu(px(24));
  padding-left: tbu(px(24));
  padding-right: tbu(px(24));
}

.title-data {
  padding-bottom: tbu(px(48));
}

.radio1 {
  display: flex;
  flex-direction: column;
  padding-bottom: tbu(px(24));
}

.main-client {
  display: flex;
  flex-direction: row;
}

.text-client {
  width: 80%;
}

.text-client1 {
  width: 60%;
}

.icon-radio {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.icon-edit {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
}

.shipping-adress {
  display: flex;
  width: 100%;
}

.add-adress {
  display: flex;
}

.descrip-adress {
  width: 80%;
}

.icon-arrow {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.buttons-footer {
  height: 14%;
  display: flex;
  align-items: end;
}

nc-action-sheet {
  ::ng-deep {
    .action-sheet.animation {
      height: 35%;
    }
  }
}

.quantity-products {
  padding-left: tbu(px(34));
  width: 100%;
  padding-right: tbu(px(30));
  padding-top: tbu(px(34));
}

.delete-item {
  display: flex;

  width: 100%;
  padding-right: tbu(px(30));
  padding-top: tbu(px(34));
  justify-content: flex-start;
}

.icon-delete {
  margin-right: 5%;
}

.container-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-method {
  display: flex;
  flex-direction: column;
  margin-bottom: tbu(px(48));
}
.container-cash {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.cash {
  display: flex;
  width: 80%;
  justify-content: flex-start;
}

.radio {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}


.step-space-1 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 45%;
  margin-left: tbu(px(10));
}

.step-space-3 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 38%;
  margin-left: tbu(px(10));
}

.step-space-4 {
  display: flex;
  height: tbu(px(17));
  background-color: var(--primary);
  border-radius: 50%;
  width: 37%;
  margin-left: tbu(px(10));
}
