@import "./../../global.scss";

.container {
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.header-profile {
  @extend .flex-center;
  flex-direction: column;
  margin: 0 tbu(px(24));
  height: 28%;
}

.back {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  .icon-back {
    display: flex;
    flex-direction: row;
    width: 8%;
  }
  .text-back {
    width: 92%;
  }
}

.profile {
  @extend .flex-center;
  flex-direction: column;
  height: 100%;
  .icon-user {
    @extend .align-end;
    width: 45%;
    height: tbu(px(80));
    background-color: var(--c-scale-3);
    border-radius: 50%;
    padding-bottom: tbu(px(5));
    margin-bottom: tbu(px(11));
  }
  .text-profile {
    @extend .flex-center;
    flex-direction: column;
  }
  .button-change {
    @extend .flex-center;
    width: tbu(px(136));
    height: tbu(px(42));
    border: tbu(px(2)) solid #181818;
    border-radius: tbu(px(4));
    opacity: tbu(px(1));
    margin-top: tbu(px(15));
    .icon-change {
      padding-right: tbu(px(5));
    }
    .text-change {
      display: flex;
    }
    // &.order{
    //   height: 32px;
    //   border-radius: 23px;
    // }
  }
}

.body-profile {
  margin-top: 5%;
  height: 78%;
}

.body-container {
  display: block;
  .title-container {
    @extend .align-center;
    padding-left: tbu(px(24));
    height: tbu(px(46));
    background-color: var(--c-scale-3);
  }
}

.box-container {
  padding: tbu(px(8)) tbu(px(24));
  .settings {
    @extend .align-center;
    height: tbu(px(60));
    width: 100%;
    .text-settings {
      width: 80%;
      display: flex;
      flex-direction: column;
    }
    .text-settings1 {
      width: 60%;
    }
    .toggle {
      display: flex;
      justify-content: flex-end;
      width: 20%;
    }
    .icon-logout {
      padding-right: tbu(px(9));
    }
    .icon-arrow {
      display: flex;
      align-items: center;
      width: 20%;
      justify-content: flex-end;
    }
    .icon-arrow1 {
      display: flex;
      align-items: center;
      width: 40%;
      justify-content: flex-end;
      .icon-on {
        padding-right: 12px;
      }
    }
  }
}


.sticky{
  position: -webkit-sticky;
position: sticky;
top: 0px;
}

.header{
  height: 50px;
}

// .top {
//   background-color: blue;
//   color: white;
//   height:  20px;
// }

// .bottom{
//   background-color:yellow;
// }

// .nofixed{
//   position: static;
//   transition: 0.2s linear;
//   top: -50px;
// }

