
<div class="container">
  <div class="header-profile">
    <div class="profile">
      <div>
        <img class="img-profile" src="assets/icon/user (1).svg" alt="" />
      </div>
      <div class="text-profile">
        <ion-label class="label-profile" for="">Jimmy Smyth</ion-label>
        <div>
          <ion-label class="label-operator">{{'App.Settings.operator' | translate}}</ion-label>
        </div>
      </div>
    </div>
    <div class="button-change" (click)="change()">
      <ion-icon name="refresh" class="icon-change"></ion-icon>
      <ion-text class="change-text">{{'App.Settings.changeUser' | translate}}</ion-text>
    </div>
  </div>
  <div class="body-profile">
    <div>
      <ion-label class="label-body">{{'App.Settings.general' | translate}}</ion-label>
    </div>
    <div class="settings">
      <div class="text-settings">
        <ion-label class="settings-1">{{'App.Settings.shift' | translate}}</ion-label>
        <ion-label class="settings-2"
          >{{'App.Settings.desciptionShift' | translate}}</ion-label
        >
      </div>
      <div class="toggle">
        <ion-toggle
          slot="start"
          name="kiwi"
          color="success"
          class="switch"
          checked
        ></ion-toggle>
      </div>
    </div>
    <div class="settings">
      <div class="text-settings">
        <ion-label class="settings-1">{{'App.Settings.timeline' | translate}}</ion-label>
        <ion-label class="settings-2"
          >{{'App.Settings.desciptionTimeline' | translate}}</ion-label
        >
      </div>
      <div class="icon-arrow">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>
    <div class="settings">
      <div class="text-settings">
        <ion-label class="settings-1">{{'App.Settings.language' | translate}}</ion-label>
        <ion-label class="settings-2">{{'App.Settings.changeYourAppLanguage' | translate}}</ion-label>
      </div>
      <div class="icon-arrow">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>

    <div class="logout">
      <ion-icon name="log-out"></ion-icon>
      <ion-text>{{'App.Settings.logout' | translate}}</ion-text>
    </div>
  </div>
  <div class="notification"></div>
  <div class="notifications">
    <ion-label class="label-noti">{{'App.Settings.notifications' | translate}}</ion-label>
  </div>
  <div class="settings">
    <div class="text-settings">
      <ion-label class="settings-1">{{'App.Settings.notification' | translate}}</ion-label>
      <ion-label class="settings-2">{{'App.Settings.manage' | translate}}</ion-label>
    </div>
    <div class="icon-arrow">
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </div>
  <div class="settings">
    <div class="text-settings">
      <ion-label class="settings-1">{{'App.Settings.disturb' | translate}}</ion-label>
      <ion-label class="settings-2"> </ion-label>
    </div>
    <div class="icon-arrow">
      <ion-label class="label-on">On</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </div>
</div>

